{# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint) %}
  <ul class=pagination>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li class="page-item"><a href="{{ url_for(endpoint, page=page) }}" class="page-link">{{ page }}</a></li>
      {% else %}
        <li class="page-item"><strong class="page-link">{{ page }}</strong></li>
      {% endif %}
    {% else %}
      <li class="page-item"><span class=ellipsis>…</span></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
