{% extends "base.html" %}
{% from "_formhelpers.html" import render_navigation %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
  <h1>{{ name }}</h1>
  {% if paginated_receipts %}
    <h2> Receipts </h2>
    <table class="table">
      {% for r in paginated_receipts.items %}
      <tr>
        <td>{{ r['label'] }}</td>
        <td>{{ r['refno'] }}</td>
        <td>{{ url_for('receipt_single_view',refno=r['refno']) }}</td>
      </tr>
      {% endfor %}
    </table>
    {{ render_navigation('paginated_receipts', 'student_view') }}
  {% endif %}
{% endblock %}
